.container {
    display: inline;
}
nav {
    float: right;
    margin-right: 300px;

}

.logo-container {
    background-color: deepskyblue;
    height: 80px;
    color: white;
}

h2 {
    margin-left: 300px;
    padding-top: 20px;
    margin-bottom: 10px;
}

#main-section {
    height: 300px;
    text-align: center;
    margin-top: 20px;
}

#newsletter-section {
    background-color: deepskyblue;
    height: 80px;
    display: grid;
}

.card, h3 {
    display: inline-block;
    margin: 50px;
}

h3 {
    display: block;
}

.container-4 {
    display: flex;
    justify-content: space-around;
}
